<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise for the day!</title>
    <style>
        body {
            text-align: center;
            background-color: #f2f2f2;
        }
        h1 {
            color: #333;
        }
        img {
            border: 2px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 100%;
            max-width: 800px;
        }
    </style>
</head>
<body>
    <div>
    <h1>Exercise for the day!</h1>
    <h2>Bicep Curl</h2>
</div>
    <img src="{{ url_for('video_feed') }}" alt="Video Feed">
</body>
</html>
